# `Notebook Contents`
- Print Function
- Variables
- Data Types

# Print Function
It helps us for displaying something by using different data types.

In [1]:
# Ex1
print('Hello To CoreMind!')

Hello To CoreMind!

In [5]:
prin

print('Hello from the second print')

NameError: ignored

# Variables
It's like a box, we save in it `something`!

In [6]:
prin = 'It is not the print function'
print(prin)

It is not the print function

In [7]:
prin # Initialized

print('Hello from the second print')

Hello from the second print

# Data Types
- String(str): Character or text.
*Anything inside this double quote --> " " considered as a string*

- Integers(int): Numbers

- Float(float): The number must be decimal, like that *1.0*

In [10]:
print('-'*30)

------------------------------

In [11]:
# String
str_ = 'c'
txt = 'This is a text'

print(str_)
print(txt)
print('-'*30)

# type is a function that helps us for understanding the data types
print(f'Type of str_ variable:{type(str_)}')
print(f'Type of txt variable:{type(txt)}')

c
This is a text
------------------------------
Type of str_ variable:<class 'str'>
Type of txt variable:<class 'str'>

In [12]:
str_ = '1'
str_

'1'

In [16]:
# Intergers
int_ = 1
print(int_)

# See the type
print(f'Type of int_ variable is {type(int_)}')

1
Type of int_ variable is <class 'int'>

In [20]:
# Float VS Integer
x = 1.0
y = 1

print(f'Type of x = {x}: {type(x)}')
print(f'Type of y = {y}: {type(y)}')

Type of x = 1.0: <class 'float'>
Type of y = 1: <class 'int'>

In [22]:
# Convert from float to integers --> Casting
x = int(x)
x

1